av
datasets
db-dtypes
einops
fvcore>=0.1.5
huggingface-hub>=0.15.1
imageio
lightning>=2.0.2
opencv-python
pyyaml
scipy
simplejson>=3.19.1
tensorboard
diffusers==0.20.2
transformers==4.33.1
accelerate==0.22.0
safetensors==0.3.1
matplotlib
Pillow
